# Ignore ocpp_central_system directory
/ocpp_central_system/

# Ignore .idea directory (php storm)
/.idea/

# Ignore __pycache__ directory (local development)
/__pycache__/

# Ignore config.py file (local development)
/config.py
